.movieDescWrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.movieGenresList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: disc inside;
}
