.header {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;

  background-color: var(--blue-color);
}

.pageNavList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.pageNavLink {
  padding: 8px 20px;

  font-weight: 500;
  text-transform: uppercase;
  color: var(--white-color);

  border-radius: 7px;

  transition: color var(--transition), background-color var(--transition);
}

.pageNavLink:hover:not(.active) {
  color: var(--blue-color);
  background-color: var(--hover-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
